

body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000ac;
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 97.9%;
    height: 12%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.btn {
    box-shadow: 3px 3px 3px 3px rgba(81, 80, 80, 0.383);
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.car-list {
    margin-top: 10px;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.car-list2 {
    margin-top: -25px;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.car {
    border-radius: 10px;
    background-color: white ;
    padding: 2%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.244);
    width: 300px;
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 97.9%;
}

img{
    border-radius: 5px;
    box-shadow: 3px 5px 5px 5px rgba(0, 0, 0, 0.202);
    width: 100%;
}
